
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/czdpxwa9rstsv/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cux2gkt1dq8k0/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cuffomu0283c7/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/ct1wwo3u2kwex/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cqspxdgmb0hg7/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cniadjia82dk7/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cniadjia82dk7/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cniadjia82dk7/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/ck1t5cuy3soop/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/ck1t5cuy3soop/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/ck1t5cuy3soop/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cismu7qbzze2x/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cir4afyx23qjh/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chuyzlvmhlb60/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chuyzlvmhlb60/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chuyzlvmhlb60/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chunks.json
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chfxla3t9qg99/000004.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chfxla3t9qg99/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chfxla3t9qg99/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/chfxla3t9qg99/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cggqer3t7adx4/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cf7n9fxd6cohv/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cf0f8hrknsut5/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cesk5u5l1940k/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/ccrctew54pl52/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cc2vs13uxsj3o/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cc0xjd3mo8kjs/000006.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cbizv3l2uirb3/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cbizv3l2uirb3/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cbizv3l2uirb3/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cazae4z2eq3z8/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cazae4z2eq3z8/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/cazae4z2eq3z8/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/caz7ebg3zt4z5/000003.rdf
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/caz7ebg3zt4z5/000003.metadata
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/caz7ebg3zt4z5/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c9xjsgg9y4b46/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c9mb7ivsbxs82/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c9ffpf3z5sgps/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c9ez3d5zrpa5o/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c971eju4sl9he/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c8ot5gegwissq/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c87dlub3xfoba/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c6ff72ilf5ao3/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c5fhb97gq90ih/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c4hgpnmuei0dn/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c3fvucznogq2g/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/s/c342315l7hiu0/000002.csv
.Rproj.user/shared/notebooks/F4FB3D65-Corpus_Creation/1/D6463EADAC571A71/chunks.json
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/czzpb03h70010/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cz90f431yozug/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cya6z0t2q2p1p/000006.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cws0h299lo4hf/000006.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cuxgn8vil4vfa/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/csb8t05q3cmzw/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/crlgmm4tl3gs1/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cqr34hwsghr6e/00000b.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cqr34hwsghr6e/00000a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cp51a8t6f1t9k/00002a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/co6hl27r1dp3p/000008.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/clwagtpvinwy1/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/clnfl2tih3zby/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cl6uodjk49rzd/000022.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cjkns1426wpd4/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cja6n4054a18x/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chunks.json
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000005.rdf
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000005.metadata
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/ch74o0xj6vf26/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cghzbcj8ul9xu/00000e.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cfmfedhsq3f9n/00000a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cct0fpjvrphv8/000003.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cct0fpjvrphv8/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbzrq7x469wyx/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbvpj6yrvgc42/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbr6ovhu4jel2/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c9y5eim2tjpb6/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c93pfu17yqsii/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c8x7o26ywih1l/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c8kdy6wdrkp0h/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c3q7n688v3g93/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c3hd384t1s373/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c0hstpdc74r58/00000d.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c0hstpdc74r58/00000c.csv
tm_sort_cache/html/__packages
tm_sort_cache/html/unnamed-chunk-10_42eacbc69069bbbffece25bc3df6d05b.RData
tm_sort_cache/html/unnamed-chunk-10_42eacbc69069bbbffece25bc3df6d05b.rdb
tm_sort_cache/html/unnamed-chunk-10_42eacbc69069bbbffece25bc3df6d05b.rdx
tm_sort_cache/html/unnamed-chunk-11_ecda4a22d0908c25689415530312c36c.RData
tm_sort_cache/html/unnamed-chunk-11_ecda4a22d0908c25689415530312c36c.rdb
tm_sort_cache/html/unnamed-chunk-11_ecda4a22d0908c25689415530312c36c.rdx
tm_sort_cache/html/unnamed-chunk-12_1046f55134766a60e37d31e9179f4693.RData
tm_sort_cache/html/unnamed-chunk-12_1046f55134766a60e37d31e9179f4693.rdb
tm_sort_cache/html/unnamed-chunk-12_1046f55134766a60e37d31e9179f4693.rdx
tm_sort_cache/html/unnamed-chunk-13_a93617693b328113a963dc040c4ec22d.RData
tm_sort_cache/html/unnamed-chunk-13_a93617693b328113a963dc040c4ec22d.rdb
tm_sort_cache/html/unnamed-chunk-13_a93617693b328113a963dc040c4ec22d.rdx
tm_sort_cache/html/unnamed-chunk-14_faa3e4c1d0b2f6d366674d29589f776b.RData
tm_sort_cache/html/unnamed-chunk-14_faa3e4c1d0b2f6d366674d29589f776b.rdb
tm_sort_cache/html/unnamed-chunk-14_faa3e4c1d0b2f6d366674d29589f776b.rdx
tm_sort_cache/html/unnamed-chunk-15_6bbc938cb2978dbba5be9c8830cc6ce9.RData
tm_sort_cache/html/unnamed-chunk-15_6bbc938cb2978dbba5be9c8830cc6ce9.rdb
tm_sort_cache/html/unnamed-chunk-15_6bbc938cb2978dbba5be9c8830cc6ce9.rdx
tm_sort_cache/html/unnamed-chunk-16_27b146a06f53f6fdc075d668d916ed93.RData
tm_sort_cache/html/unnamed-chunk-16_27b146a06f53f6fdc075d668d916ed93.rdb
tm_sort_cache/html/unnamed-chunk-16_27b146a06f53f6fdc075d668d916ed93.rdx
tm_sort_cache/html/unnamed-chunk-17_159663185db2d2e54fb5c58714615055.RData
tm_sort_cache/html/unnamed-chunk-17_159663185db2d2e54fb5c58714615055.rdb
tm_sort_cache/html/unnamed-chunk-17_159663185db2d2e54fb5c58714615055.rdx
tm_sort_cache/html/unnamed-chunk-18_8e96ffcea81a96ac69efada7dd9c17f4.RData
tm_sort_cache/html/unnamed-chunk-18_8e96ffcea81a96ac69efada7dd9c17f4.rdb
tm_sort_cache/html/unnamed-chunk-18_8e96ffcea81a96ac69efada7dd9c17f4.rdx
tm_sort_cache/html/unnamed-chunk-19_9cbff5ebedb9a0b8ff1f89ff8f209a0c.RData
tm_sort_cache/html/unnamed-chunk-19_9cbff5ebedb9a0b8ff1f89ff8f209a0c.rdb
tm_sort_cache/html/unnamed-chunk-19_9cbff5ebedb9a0b8ff1f89ff8f209a0c.rdx
tm_sort_cache/html/unnamed-chunk-1_fce71526a0294a44f53c858f76522c90.RData
tm_sort_cache/html/unnamed-chunk-1_fce71526a0294a44f53c858f76522c90.rdb
tm_sort_cache/html/unnamed-chunk-1_fce71526a0294a44f53c858f76522c90.rdx
tm_sort_cache/html/unnamed-chunk-20_ca234064117775387effc23c5d6d2a4a.RData
tm_sort_cache/html/unnamed-chunk-20_ca234064117775387effc23c5d6d2a4a.rdb
tm_sort_cache/html/unnamed-chunk-20_ca234064117775387effc23c5d6d2a4a.rdx
tm_sort_cache/html/unnamed-chunk-21_b46e71b49b19cc8df8df9b9394c15203.RData
tm_sort_cache/html/unnamed-chunk-21_b46e71b49b19cc8df8df9b9394c15203.rdb
tm_sort_cache/html/unnamed-chunk-21_b46e71b49b19cc8df8df9b9394c15203.rdx
tm_sort_cache/html/unnamed-chunk-22_c8bde6d1dd9431a518c93b96bb576e36.RData
tm_sort_cache/html/unnamed-chunk-22_c8bde6d1dd9431a518c93b96bb576e36.rdb
tm_sort_cache/html/unnamed-chunk-22_c8bde6d1dd9431a518c93b96bb576e36.rdx
tm_sort_cache/html/unnamed-chunk-23_b04d385d924b01744137103954dfbfaa.RData
tm_sort_cache/html/unnamed-chunk-23_b04d385d924b01744137103954dfbfaa.rdb
tm_sort_cache/html/unnamed-chunk-23_b04d385d924b01744137103954dfbfaa.rdx
tm_sort_cache/html/unnamed-chunk-24_aba9b28af9529dce66404df358abb6b4.RData
tm_sort_cache/html/unnamed-chunk-24_aba9b28af9529dce66404df358abb6b4.rdb
tm_sort_cache/html/unnamed-chunk-24_aba9b28af9529dce66404df358abb6b4.rdx
tm_sort_cache/html/unnamed-chunk-25_c1d0c981604de1dc98976878a111bbdb.RData
tm_sort_cache/html/unnamed-chunk-25_c1d0c981604de1dc98976878a111bbdb.rdb
tm_sort_cache/html/unnamed-chunk-25_c1d0c981604de1dc98976878a111bbdb.rdx
tm_sort_cache/html/unnamed-chunk-26_2771449232da679bd63e80ee67338f3b.RData
tm_sort_cache/html/unnamed-chunk-26_2771449232da679bd63e80ee67338f3b.rdb
tm_sort_cache/html/unnamed-chunk-26_2771449232da679bd63e80ee67338f3b.rdx
tm_sort_cache/html/unnamed-chunk-27_8789a8d84e2ecc77a3ec59ede80020d0.RData
tm_sort_cache/html/unnamed-chunk-27_8789a8d84e2ecc77a3ec59ede80020d0.rdb
tm_sort_cache/html/unnamed-chunk-27_8789a8d84e2ecc77a3ec59ede80020d0.rdx
tm_sort_cache/html/unnamed-chunk-28_741d4462eb317c48c9b3fa70ab5974cb.RData
tm_sort_cache/html/unnamed-chunk-28_741d4462eb317c48c9b3fa70ab5974cb.rdb
tm_sort_cache/html/unnamed-chunk-28_741d4462eb317c48c9b3fa70ab5974cb.rdx
tm_sort_cache/html/unnamed-chunk-29_5ad47d46c4da1e1b29ff9c2c5c53ce3b.RData
tm_sort_cache/html/unnamed-chunk-29_5ad47d46c4da1e1b29ff9c2c5c53ce3b.rdb
tm_sort_cache/html/unnamed-chunk-29_5ad47d46c4da1e1b29ff9c2c5c53ce3b.rdx
tm_sort_cache/html/unnamed-chunk-2_7095ea1993208328bff408cdc5d03c7c.RData
tm_sort_cache/html/unnamed-chunk-2_7095ea1993208328bff408cdc5d03c7c.rdb
tm_sort_cache/html/unnamed-chunk-2_7095ea1993208328bff408cdc5d03c7c.rdx
tm_sort_cache/html/unnamed-chunk-30_1ff3d603cf0c576e61d498bae1a8a5ca.RData
tm_sort_cache/html/unnamed-chunk-30_1ff3d603cf0c576e61d498bae1a8a5ca.rdb
tm_sort_cache/html/unnamed-chunk-30_1ff3d603cf0c576e61d498bae1a8a5ca.rdx
tm_sort_cache/html/unnamed-chunk-31_dc92340da756a0b7c86dac5b807d2d97.RData
tm_sort_cache/html/unnamed-chunk-31_dc92340da756a0b7c86dac5b807d2d97.rdb
tm_sort_cache/html/unnamed-chunk-31_dc92340da756a0b7c86dac5b807d2d97.rdx
tm_sort_cache/html/unnamed-chunk-32_1d684490fa9b42eb276a992735670e17.RData
tm_sort_cache/html/unnamed-chunk-32_1d684490fa9b42eb276a992735670e17.rdb
tm_sort_cache/html/unnamed-chunk-32_1d684490fa9b42eb276a992735670e17.rdx
tm_sort_cache/html/unnamed-chunk-33_ed07ebd11270de0c38cae87622908179.RData
tm_sort_cache/html/unnamed-chunk-33_ed07ebd11270de0c38cae87622908179.rdb
tm_sort_cache/html/unnamed-chunk-33_ed07ebd11270de0c38cae87622908179.rdx
tm_sort_cache/html/unnamed-chunk-3_050c5d044f52947b4a29c6ef2986b9da.RData
tm_sort_cache/html/unnamed-chunk-3_050c5d044f52947b4a29c6ef2986b9da.rdb
tm_sort_cache/html/unnamed-chunk-3_050c5d044f52947b4a29c6ef2986b9da.rdx
tm_sort_cache/html/unnamed-chunk-4_233082ee17d68e509e0953c7e79ec95d.RData
tm_sort_cache/html/unnamed-chunk-4_233082ee17d68e509e0953c7e79ec95d.rdb
tm_sort_cache/html/unnamed-chunk-4_233082ee17d68e509e0953c7e79ec95d.rdx
tm_sort_cache/html/unnamed-chunk-5_cdde9da2f1d89bf0d781ad09e8013aa0.RData
tm_sort_cache/html/unnamed-chunk-5_cdde9da2f1d89bf0d781ad09e8013aa0.rdb
tm_sort_cache/html/unnamed-chunk-5_cdde9da2f1d89bf0d781ad09e8013aa0.rdx
tm_sort_cache/html/unnamed-chunk-6_6740b9012f0cc727793f20f50da1b38b.RData
tm_sort_cache/html/unnamed-chunk-6_6740b9012f0cc727793f20f50da1b38b.rdb
tm_sort_cache/html/unnamed-chunk-6_6740b9012f0cc727793f20f50da1b38b.rdx
tm_sort_cache/html/unnamed-chunk-7_9b4f2e08a982f49b7a8a6967e3d0b75f.RData
tm_sort_cache/html/unnamed-chunk-7_9b4f2e08a982f49b7a8a6967e3d0b75f.rdb
tm_sort_cache/html/unnamed-chunk-7_9b4f2e08a982f49b7a8a6967e3d0b75f.rdx
tm_sort_cache/html/unnamed-chunk-8_59d989df3a892ece33a7c021f6150663.RData
tm_sort_cache/html/unnamed-chunk-8_59d989df3a892ece33a7c021f6150663.rdb
tm_sort_cache/html/unnamed-chunk-8_59d989df3a892ece33a7c021f6150663.rdx
tm_sort_cache/html/unnamed-chunk-9_f48ae56650e979d60d653816b9aed548.RData
tm_sort_cache/html/unnamed-chunk-9_f48ae56650e979d60d653816b9aed548.rdb
tm_sort_cache/html/unnamed-chunk-9_f48ae56650e979d60d653816b9aed548.rdx
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/czzpb03h70010/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cz90f431yozug/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cya6z0t2q2p1p/000006.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cws0h299lo4hf/000006.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cuxgn8vil4vfa/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/csb8t05q3cmzw/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/crlgmm4tl3gs1/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cqr34hwsghr6e/00000b.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cqr34hwsghr6e/00000a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cp51a8t6f1t9k/00002a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/co6hl27r1dp3p/000008.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/clwagtpvinwy1/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/clnfl2tih3zby/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cl6uodjk49rzd/000022.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cjkns1426wpd4/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cja6n4054a18x/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chunks.json
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000005.rdf
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000005.metadata
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/chozaofhnmee4/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/ch74o0xj6vf26/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cghzbcj8ul9xu/00000e.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cfmfedhsq3f9n/00000a.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cct0fpjvrphv8/000003.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cct0fpjvrphv8/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbzrq7x469wyx/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbvpj6yrvgc42/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/cbr6ovhu4jel2/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c9y5eim2tjpb6/000004.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c93pfu17yqsii/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c8x7o26ywih1l/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c8kdy6wdrkp0h/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c3q7n688v3g93/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c3hd384t1s373/000002.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c0hstpdc74r58/00000d.error
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/s/c0hstpdc74r58/00000c.csv
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/D6463EADAC571A71/chunks.json
.Rproj.user/shared/notebooks/A8061DBA-tm_sort/1/D6463EAD2008CE05/chunks.json
.Rproj.user/D6463EAD/sources/s-AC571A71/lock_file
.Rproj.user/D6463EAD/sources/s-AC571A71/EF4CDFCE-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/9D677107-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/9D677107
.Rproj.user/D6463EAD/sources/s-AC571A71/969A80AA-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/969A80AA
.Rproj.user/D6463EAD/sources/s-AC571A71/81950E71-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/6019504C-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/541BB937-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/541BB937
.Rproj.user/D6463EAD/sources/s-AC571A71/1608F067-contents
.Rproj.user/D6463EAD/sources/s-AC571A71/0AADBAC7-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/lock_file
.Rproj.user/D6463EAD/sources/s-2008CE05/EF4CDFCE-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/9D677107-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/9D677107
.Rproj.user/D6463EAD/sources/s-2008CE05/81950E71-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/6019504C-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/541BB937-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/541BB937
.Rproj.user/D6463EAD/sources/s-2008CE05/1608F067-contents
.Rproj.user/D6463EAD/sources/s-2008CE05/0AADBAC7-contents
.Rproj.user/D6463EAD/sources/prop/INDEX
.Rproj.user/D6463EAD/sources/prop/C6162074
.Rproj.user/D6463EAD/sources/prop/667D7843
